<%- include('../_layouts/adminheader') %>

<h2 class="page-title"> Diplomas </h2>
<a href="/admin/diplomas/add-diploma" class="btn btn-primary">Add a new diploma</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped">
    <thead>
    <tr class="home">
        <th>CNP</th>
        <th>Category</th>
        <th>Description</th>
        <th>City</th>
        <th>Preview document</th>
        <th>Fisierul IPFS</th>
    </tr>
    </thead>
    <tbody>
    <% diplomas.forEach(function(diploma){ %>
        <tr>
            <td><%= diploma.student %></td>
            <td><%= diploma.category %></td>
            <td><%= diploma.desc %></td>
            <td><%= diploma.city %></td>
            <td>
                <% if (diploma.document == "") { %>
                <img src="/images/noimage.png">
                <% } else { %>
                <img src="/diploma_images/<%= diploma._id %>/<%= diploma.document %>" width=100% height=100%>
                <% }%>
            </td>
            <% var url = "http://127.0.0.1:8080/ipfs/" + diploma.hashId %>
            <% console.log("url ul este" + url) %>
            <td><a href= <%=url %>> <%= diploma.hashId %></a></td>
        </tr>
    <% }); %>
    </tbody>

</table>
<% } else { %>
<h3 class="text-center">No diplomas here</h3>
<% } %>

<script>

</script>

<%- include('../_layouts/adminfooter') %>